@import 'vars';
@import 'global';
@import 'fonts';
.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
    a {
        background-color: $blue;
        border-radius: 30px;
        color: #fff;
        padding: 12px 19px 10px 19px;
        font-size: 14px;
    }
}

.header__btn {
    padding: 11px;
    width: 74px;
    border-radius: 4px;
    background-color: $blue;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.header__box {
    display: flex;
    align-items: center;
    .notification__box,
    .message__box {
        margin-right: 30px;
    }
}

.header__btn-register {
    background-color: $violet;
    margin-left: 10px;
}

.menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 30px;
        }
    }
    a {
        color: #333;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
    }
}

.header__circle {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &+.header__circle {
        margin-left: 30px;
    }
    span {
        position: absolute;
        width: 22px;
        height: 22px;
        padding: 0 5px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        right: -12px;
        top: -15px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }
}

.notification {
    background-image: url(../images/icons/alarm-icon.svg);
    width: 17px;
    height: 20px;
    span {
        background-color: #ff6a6c;
    }
}

.basket {
    background-image: url(../images/icons/basket-icon.svg);
    width: 18px;
    height: 20px;
    span {
        background-color: #62d03b;
    }
}

.message {
    background-image: url(../images/icons/email-icon.svg);
    width: 24px;
    height: 18px;
    span {
        background-color: #0674ec;
    }
}

//-------notification-menu-----//
.notification__box {
    position: relative;
    &:hover {
        .notification__menu {
            display: block;
        }
    }
    .notification-item {
        align-items: start;
    }
    .notification-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .notification-title {
        display: block;
        margin-bottom: 0;
    }
    .notification-date {
        color: #747a86;
        margin-top: 8px;
    }
    .notification-image {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #e6f1fd;
        margin-left: auto;
        align-self: center;
        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .notification-info {
        max-width: 215px;
    }
}

//-------message-menu--------//
.message__box {
    position: relative;
    &:hover {
        .message__menu {
            display: block;
        }
    }
}

.circle__menu {
    width: 370px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: -35px;
    color: #333;
    z-index: 1;
    display: none;
    &-header {
        display: flex;
        justify-content: space-between;
        padding: 22px;
        a {
            color: $blue;
        }
    }
    &-title {
        font-size: 18px;
    }
    &-item {
        display: flex;
        align-items: center;
        padding: 22px;
        border-top: 1px solid #e8ebf0;
        img {
            margin-right: 12px;
        }
    }
    &-info-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &-name {
        font-weight: 500;
        cursor: pointer;
    }
    &-image {
        margin-left: 10px;
    }
    &-add {
        color: #747a86;
        margin-left: 5px;
        font-size: 15px;
    }
    .circle__menu-link {
        color: $blue;
        font-size: 15px;
    }
    &-date {
        color: $blue;
    }
}

//-------cart__menu---------//
.basket__box {
    position: relative;
    &:hover {
        .cart__menu {
            display: block;
        }
    }
}

.cart__menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid $blue;
    right: -35px;
    top: 60px;
    z-index: 1;
    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/user-icons/menu-rect.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 10px;
        top: -11px;
        right: 30px;
        z-index: 2;
    }
    &-item {
        &-body {
            display: flex;
            justify-content: space-between;
            padding: 26px 24px;
            width: 400px;
            border-bottom: 1px solid #e8ebf0;
        }
        &-image {
            width: 80px;
            height: 70px;
            margin-right: 15px;
        }
        &-text {
            margin-right: 11px;
        }
        &-title {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            margin-bottom: 17px;
        }
        &-subtitle {
            font-size: 15px;
            color: $violet;
            padding-left: 22px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-image: url(../images/content/wp-icon.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 16px;
                height: 16px;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
        &-trash {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #f1ecf9;
            background-image: url(../images/icons/trash-icon.svg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
        }
        &-price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & .footer__left-price {
                margin-right: 0;
                padding: 6px 12px;
                font-weight: 500;
            }
        }
        &-total {
            font-size: 18px;
            font-weight: 500;
            color: #000;
            text-align: right;
            padding: 23px 24px 28px;
            span {
                margin-left: 30px;
            }
        }
        &-links {
            display: flex;
            div {
                width: 100%;
                text-align: center;
            }
            a {
                color: #fff;
                padding: 22px 0;
                font-size: 15px;
            }
            .link-to-cart {
                background-color: $violet;
            }
            .link-to-checkout {
                background-color: $blue;
            }
        }
    }
}

.user {
    margin-left: 47px;
    line-height: 22px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__images {
        margin-right: 18px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__name {
        font-weight: 500;
        color: #000;
    }
    &__money {
        font-size: 15px;
        color: $blue;
    }
}

.notification__box,
.user__box,
.basket__box,
.message__box {
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover {
        .user__menu {
            // height: auto;
            // border-top: 1px solid $blue;
            // overflow: auto;
            display: block;
        }
    }
}

.notification__box,
.basket__box,
.message__box {
    margin-top: 68px;
}

.user__menu {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #54667a;
    padding: 0 20px;
    border-top: 1px solid #eef1f3;
    width: 270px;
    z-index: 1;
    top: 75px;
    right: 0;
    // transition: all .3s;
    // height: 0;
    // overflow: hidden;
    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/user-icons/menu-rect.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 10px;
        top: -11px;
        right: 30px;
        z-index: 2;
    }
    li {
        &:hover {
            background-color: $blue;
            border-radius: 4px;
            a {
                color: #fff;
            }
        }
    }
    a {
        position: relative;
        padding: 12px 40px 12px;
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            left: 8px;
        }
    }
}

.profile {
    &::before {
        background-image: url(../images/icons/user-icons/user-icon.svg);
    }
}

.dashboard {
    &::before {
        background-image: url(../images/icons/user-icons/home-icon.svg);
    }
}

.settings {
    &::before {
        background-image: url(../images/icons/user-icons/gear-icon.svg);
    }
}

.purchases {
    &::before {
        background-image: url(../images/icons/user-icons/cart-icon.svg);
    }
}

.favorites {
    &::before {
        background-image: url(../images/icons/user-icons/heart-icon.svg);
    }
}

.credits {
    &::before {
        background-image: url(../images/icons/user-icons/dice-icon.svg);
    }
}

.sales {
    &::before {
        background-image: url(../images/icons/user-icons/chart-icon.svg);
    }
}

.upload {
    &::before {
        background-image: url(../images/icons/user-icons/upload-icon.svg);
    }
}

.edit-item {
    &::before {
        background-image: url(../images/icons/user-icons/book-icon.svg);
    }
}

.withdrawals {
    &::before {
        background-image: url(../images/icons/user-icons/case-icon.svg);
    }
}

.logout {
    &::before {
        background-image: url(../images/icons/user-icons/exit-icon.svg);
    }
}

.menu__inner {
    display: flex;
    justify-content: space-between;
    form {
        position: relative;
        margin-top: 16px;
    }
}

.header__menu-input {
    padding: 14px 40px 17px 20px;
    border-radius: 30px;
    border-color: #d9dfe5;
    border-style: solid;
    height: 46px;
    width: 360px;
    outline: none;
}

.header__menu-btn-submit {
    position: absolute;
    background-image: url('../images/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $blue;
    padding: 12px;
    border: transparent;
    border-radius: 30px;
    outline: none;
    height: 46px;
    width: 70px;
    right: 0;
}

.view {
    background-color: #0d33bd;
    min-height: 725px;
    position: relative;
}

.view__inner {
    color: #fff;
    text-align: center;
    padding: 170px 0 230px;
    &-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 35px;
        span {
            font-weight: 700;
        }
    }
    &-text {
        font-size: 20px;
        margin-bottom: 65px;
    }
    .view__inner-links {
        display: flex;
        justify-content: center;
        .link__btn+div {
            margin-left: 30px;
        }
        .link__btn {
            border: 1px solid #fff;
            border-radius: 30px;
            width: 190px;
            transition: all .3s;
            a {
                color: #fff;
                padding: 19px 0;
                font-size: 16px;
            }
        }
        .link__btn:hover {
            background-color: #fff;
            a {
                color: $blue;
            }
        }
    }
}

//---------------------------//
.view__search {
    position: absolute;
    bottom: -10%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 3;
}

.view__search-inner {
    width: 1140px;
    background-color: #fff;
    padding: 40px;
    border-radius: 6px;
    input {
        width: 615px;
        padding: 20px 20px 18px 28px;
        border: 1px solid #dcdcdc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        outline: none;
    }
    select {
        position: absolute;
        width: 195px;
        padding: 18px 20px 20px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid #dcdcdc;
        border-left: none;
        outline: none;
        appearance: none;
        background-image: url(../images/icons/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
    }
    button {
        position: absolute;
        width: 222px;
        padding: 20px 5px;
        border-radius: 4px;
        border: none;
        outline: none;
        background-color: $blue;
        color: #fff;
        right: 40px;
    }
}

.view__search-shadow {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    opacity: .5;
    border-radius: 6px;
}

.shadow {
    width: 1110px;
    height: 135px;
    z-index: 2;
    bottom: -7%;
}

.shadow-copy {
    width: 1080px;
    height: 135px;
    z-index: 1;
    bottom: -5%;
}

//---------------------------//
.features {
    padding-top: 185px;
}

.features__inner {
    display: flex;
    justify-content: space-between;
}

.features__box {
    text-align: center;
    max-width: 360px;
    padding: 37px 34px 50px;
    transition: all .3s;
    img {
        margin-bottom: 35px;
    }
    &-title {
        font-size: 24px;
        margin-bottom: 25px;
        a {
            color: #000;
        }
    }
    &-text {
        line-height: 30px;
    }
    &:hover {
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}

.products {
    background-color: #eff1f5;
}

.products__title {
    background-color: #fff;
    color: #000;
    padding: 33px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    font-size: 30px;
    margin-bottom: 50px;
    &-filter {
        font-size: 16px;
        color: #747b86;
        padding-right: 30px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 5px;
            height: 20px;
            background-image: url('../images/icons/filter-icon.png');
            cursor: pointer;
        }
        &:hover {
            .dropdown__filter {
                opacity: 1;
            }
        }
    }
    &-arrows-place {
        width: 92px;
        height: 45px;
        border-radius: 30px;
        background-color: $violet;
        position: relative;
    }
}

.products__inner {
    position: relative;
}

.dropdown__filter {
    opacity: 0;
    position: absolute;
    width: 184px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    padding: 25px 30px;
    font-size: 15px;
    right: -25px;
    top: 40px;
    z-index: 1;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    transition: all .3s;
    &-list {
        li {
            &+li {
                margin-top: 10px;
            }
        }
    }
    button {
        color: #747b86;
        background-color: transparent;
        outline: none;
        border: none;
        &:hover {
            color: $blue;
        }
    }
    &::before {
        position: absolute;
        content: '';
        width: 18px;
        height: 16px;
        background-image: url('../images/icons/arrow-filter.svg');
        top: -8%;
        right: 20px;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        z-index: 2;
    }
}

.slider-arrows {
    position: absolute;
    z-index: 20;
    width: 12px;
    height: 18px;
    cursor: pointer;
}

.slider-arrows__left {
    top: -115px;
    right: 85px;
}

.slider-arrows__right {
    top: -115px;
    right: 43px;
}

.product__item {
    display: flex !important;
    &-content {
        min-height: 450px;
        display: block;
        background-color: #fff;
        border-radius: 4px;
        padding: 5px 32px 5px 48px;
    }
    &-title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
        margin: 45px 0 18px 0;
        outline: none;
    }
    &-icons {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .avatar {
            margin-right: 8px;
        }
        .theme-icon {
            width: 16px;
            height: 16px;
            // border-radius: 50%;
            // display: inline-block;
            margin-right: 8px;
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
            margin-left: 20px;
        }
        .author-name {
            color: #000;
            font-size: 15px;
        }
        .theme-name {
            color: $violet;
            font-size: 15px;
        }
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    &-tags {
        margin-bottom: 45px;
        span {
            padding: 9px 13px;
            background-color: #f1f3f6;
            border-radius: 30px;
            font-size: 15px;
        }
        span+span {
            margin-left: 7px;
        }
    }
}

.product__item-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(236, 236, 236);
    padding-top: 20px;
    align-items: center;
    &-info {
        display: flex;
        align-items: center;
    }
    &-price {
        padding: 8px 22px;
        background-color: $blue;
        border-radius: 30px;
        color: #fff;
    }
    &-likes,
    &-basket {
        padding-left: 26px;
        margin-left: 24px;
        position: relative;
    }
    &-basket {
        color: $blue;
    }
    &-likes::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        background-image: url('../images/icons/heart-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 2px;
        width: 16px;
        height: 13px;
    }
    &-basket::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        background-image: url('../images/icons/cart-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 2px;
        width: 16px;
        height: 13px;
    }
}

//----------------------------//
.newest-products {
    background-color: #f6f7fb;
}

.products__inner-btn {
    background-color: #fff;
    padding: 30px 30px 28px;
    margin-bottom: 50px;
    button {
        padding: 8px 16px;
        border-radius: 30px;
        background-color: #f1f3f6;
        color: #747b86;
        font-size: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        &+button {
            margin-left: 6px;
        }
        &.mixitup-control-active {
            background-color: $blue;
            color: #fff;
            font-weight: 500;
            transition: all .3s;
        }
        &:hover {
            background-color: $blue;
            color: #fff;
            font-weight: 500;
            transition: all .3s;
        }
        &::before {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
}

// -----------Newest Release Products---------------//
.cards__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card__content {
    max-width: 360px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    &-image {
        min-width: 360px;
        min-height: 230px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-header {
        position: relative;
        .left-btn {
            left: 45px;
        }
        .right-btn {
            right: 45px;
        }
    }
    &-subtitle {
        font-size: 15px;
        .name {
            color: #000;
        }
        .subtitle__theme-name {
            color: $violet;
        }
    }
    &:hover {
        .card__content-image-btn {
            opacity: 1;
        }
    }
    &-body {
        padding: 17px 27px 30px;
    }
    &-image-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        min-width: 128px;
        padding: 13px 0;
        border: 1px solid #fff;
        border-radius: 30px;
        text-align: center;
        color: #fff;
        margin-left: 5px;
        font-size: 15px;
        font-weight: 500;
        transition: all .3s;
        opacity: 0;
        &:hover {
            background-color: #fff;
            color: $blue;
        }
    }
    &-title {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        margin-bottom: 18px;
    }
    &-subtitle {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ececec;
        padding: 15px 30px;
    }
}

.footer__left {
    display: flex;
    align-items: center;
    position: relative;
    &-price {
        padding: 8px 16px;
        background-color: #e6f1fd;
        border-radius: 30px;
        color: $blue;
        margin-right: 12px;
    }
    &-likes {
        padding-left: 20px;
        position: relative;
        margin-right: 9px;
        font-size: 15px;
        color: #6f7d8d;
        &::before {
            background-image: url('../images/icons/heart-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            position: absolute;
            display: block;
            top: 2px;
            left: 0;
            width: 16px;
            height: 13px;
        }
    }
}

.footer__right {
    padding-left: 20px;
    position: relative;
    font-size: 15px;
    color: $blue;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        background-image: url(../images/icons/cart-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 2px;
        width: 16px;
        height: 13px;
    }
}

.cards-link {
    text-align: center;
    .link__btn {
        display: inline-block;
        background-color: $blue;
        padding: 19px 0;
        border: 1px solid transparent;
        border-radius: 30px;
        width: 190px;
        cursor: pointer;
        transition: all .3s;
        button {
            background-color: transparent;
            border: none;
            color: #fff;
            cursor: pointer;
            outline: none;
        }
        &:hover {
            background-color: #fff;
            border: 1px solid $blue;
            button {
                color: $blue;
            }
        }
    }
}

//------------------Your Followers Feed-------------------//
.feed {
    background-color: #eff1f5;
}

.feed .products__title-arrows-place {
    background-color: $blue;
}

.feed .slick-slide {
    margin-right: 30px;
}

.card__content {
    border-radius: 5px;
}

.card__content-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.feed__inner {
    display: flex;
    justify-content: space-between;
}

.product__footer-star {
    position: relative;
}

.bg-stars {
    position: absolute;
    top: 0;
    right: 4px;
    display: flex;
    justify-content: space-between;
    img {
        width: 15px;
        height: 15px;
    }
    img+img {
        margin-left: 5px;
    }
}

.mix-stars {
    top: 10px;
}

//----------Total Fluid Section Grey------------------//
.total {
    background-color: #212225;
    padding: 95px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.total__item {
    text-align: center;
    line-height: 36px;
    img {
        margin-bottom: 14px;
    }
    &-count {
        font-size: 36px;
    }
    &-text {
        font-size: 18px;
        color: #fff;
    }
}

//--------------Why Choose Martplace----------------//
.choose__header {
    margin-bottom: 55px;
}

.choose__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__item {
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    &-number {
        font-size: 48px;
        color: #5c87f8;
        line-height: 35px;
        padding: 18px 0 0 18px;
    }
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 45px;
    }
    &-title {
        text-align: center;
        font-size: 24px;
        color: #000;
        margin-bottom: 25px;
    }
    &-text {
        text-align: center;
        line-height: 28px;
        padding: 0 28px 55px;
    }
}

//-------------Sell / Start Section-------------------//
.fluid__inner {
    display: flex;
    // min-height: 560px;
}

.fluid__inner-item {
    padding: 100px 70px;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    img {
        margin-bottom: 45px;
    }
}

.choose__header-text {
    margin-bottom: 40px;
}

.fluid-btn {
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border: none;
    a {
        color: $blue;
    }
}

//-----------Our Clients Feedback---------------//
.feedback__inner-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.feedback__card-item {
    padding: 50px 40px;
    max-width: 555px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 2px solid $blue;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

.feedback__inner-text {
    margin-bottom: 56px;
}

.feedback__card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.card__header-author {
    display: flex;
    align-items: center;
}

.author-image {
    margin-right: 18px;
    .img {
        object-fit: cover;
    }
}

.author-name {
    color: #000;
    font-size: 20px;
}

.feedback__card-text {
    text-align: left;
}

//-------------Latest News-----------------//
.news__cards {
    display: flex;
    justify-content: space-between;
}

.news {
    background-color: #eff1f5;
}

.news__text {
    margin-bottom: 58px;
}

.news__card {
    max-width: 361px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding-bottom: 5px;
    &-image {
        width: 361px;
        height: 230px;
    }
    &-title {
        font-weight: 500;
        font-size: 22px;
        color: #000;
        margin-bottom: 20px;
    }
    &-text {
        text-align: left;
    }
    .news__card-body {
        padding: 27px 28px 30px 28px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 5px;
    }
}

.news__card-footer {
    display: flex;
    justify-content: space-between;
}

.news__card-info {
    display: flex;
    padding: 10px 30px 10px 10px;
}

.news__card-date {
    position: relative;
    padding: 10px 45px 10px 30px;
    text-align: center;
    margin: 0 auto;
    border-right: 1px solid #ececec;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/content/clock-icon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        width: 16px;
        height: 15px;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.news__card-comments {
    padding-left: 20px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/content/bubble-mini-icon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        width: 16px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.news__card-view {
    position: relative;
    padding-left: 20px;
    margin-left: 30px;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/content/eye-icon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        width: 17px;
        height: 9px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

//--------------Guarantee & Support Fluid Section-----------------------//
.guarantee__inner-item {
    background-color: #fff;
    max-width: 569.5px;
    width: 100%;
    padding: 60px 0;
    +div {
        border-left: 1px solid #eff1f5;
        span {
            color: $violet;
        }
    }
    img {
        display: block;
        margin: 0 auto 30px;
    }
}

.guarantee__inner {
    display: flex;
    justify-content: space-between;
}

.guarantee__inner-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 0;
}

//-------------Ready to Join Our Marketplace------------------//
.join {
    background-image: url('../images/join-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 105px 0;
}

.join__inner-text {
    margin-bottom: 48px;
}

.join__inner-btn {
    background-color: #fff;
    border: none;
    a {
        color: $blue;
    }
}

//--------------Footer Section------------------//
.footer {
    background-color: #262b30;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 110px 0 120px;
    }
}

.footer__col {
    max-width: 360px;
    color: #ababab;
    &-logo {
        margin-bottom: 18px;
    }
    &-contacts {
        max-width: 265px;
    }
    &-menu {
        max-width: 145px;
        margin-top: 17px;
    }
    &-subscribe {
        margin: 17px 0 23px;
    }
    &-title {
        font-size: 18px;
        color: #fff;
        margin-bottom: 28px;
    }
    &-text {
        font-size: 15px;
        margin-bottom: 23px;
        text-align: left;
    }
}

.footer__col-list {
    a {
        margin-bottom: 16px;
    }
}

.footer__info {
    position: relative;
    padding-left: 30px;
    +div,
    +a {
        margin-top: 18px;
    }
    &::before {
        content: '';
        background-image: url(../images/icons/phone-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 17px;
    }
}

.footer__info-email {
    &::before {
        content: '';
        background-image: url(../images/icons/email-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 17px;
    }
}

.footer__info-adress {
    line-height: 26px;
    &::before {
        content: '';
        background-image: url(../images/icons/marker-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 17px;
    }
}

.footer__form {
    position: relative;
    margin-bottom: 48px;
    input {
        border: none;
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 30px;
        border: none;
        padding: 0 110px 0 30px;
        outline: none;
    }
    button {
        position: absolute;
        font-size: 15px;
        padding: 17px 30px;
        border-radius: 30px;
        border: none;
        color: #fff;
        background-color: $blue;
        top: 0;
        right: -1px;
        outline: none;
    }
}

.social-item {
    display: inline-block;
    +li {
        margin-left: 10px;
    }
}

.footer__copy {
    background-color: #192027;
    &-text {
        text-align: center;
        font-size: 15px;
        color: #999999;
        padding: 40px 0;
        span {
            color: #fff;
        }
    }
}

//----------category.html---------------//
.search__products-inner {
    text-align: center;
    padding: 85px 0 30px;
    .search__products-form {
        position: relative;
        max-width: 555px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    input {
        max-width: 555px;
        width: 100%;
        padding: 20px 110px 20px 20px;
        border-radius: 30px;
        border: none;
        outline: none;
    }
    button {
        position: absolute;
        padding: 20px 30px;
        border: none;
        border-radius: 30px;
        outline: none;
        color: #fff;
        background-color: $blue;
        right: 0;
    }
}

.search__products-title {
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

.product-page {
    background-color: #eff1f5;
}

.product-page__inner {
    display: flex;
    padding-bottom: 120px;
}

.product-page__aside {
    margin-right: 30px;
}

.aside__item {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0 28px 32px;
    margin-bottom: 30px;
    width: 265px;
}

.aside__title {
    font-size: 20px;
    padding: 28px 0 23px;
    color: #000;
    border-bottom: 1px solid #e7ebee;
}

.category__list {
    padding-top: 10px;
    li {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 10px 0;
        padding-left: 20px;
        a {
            &:hover {
                color: $blue;
            }
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/icons/arrow-right.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 6px;
            height: 12px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.filter-products__list {
    li {
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/icons/circle-icon.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 10px;
            height: 10px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.price-range {
    form {
        padding-top: 20px;
        button {
            margin-top: 80px;
        }
    }
}

.irs-min,
.irs-max {
    display: none;
}

.irs--flat .irs-line {
    background-color: #efedf3;
    height: 6px;
}

.irs--flat .irs-bar {
    height: 6px;
    background-color: $violet;
}

.irs--flat .irs-handle {
    width: 18px;
    height: 18px;
    border: 4px solid $blue;
    border-radius: 50%;
    top: 20px;
    background-color: #fff;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs-from,
.irs-single,
.irs-to {
    top: 45px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: $violet;
    font-size: 15px;
    line-height: 1;
    text-shadow: none;
    padding: 8px 20px;
    background-color: #efedf3;
    border-radius: 30px;
}

.range-btn {
    width: 170px;
    padding: 15px 0;
    color: #fff;
    font-size: 15px;
    display: block;
    text-align: center;
}

.product-page__content {
    width: 100%;
    &-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .card__content {
        max-width: 260px;
        width: 100%;
        .card__content-image {
            min-height: 160px;
            min-width: 260px;
        }
    }
}

.mini-card__item {
    max-width: 260px;
    max-height: 372px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    transition: all .3s;
    &-body {
        padding: 18px 18px 15px;
    }
    &-image {
        min-height: 160px;
        width: 100%;
        // margin-bottom: 18px;
    }
    &-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.mini-card__item {
    &.list {
        display: none;
    }
}

.list-cards__wrap {
    display: none;
    &.list {
        display: block;
    }
}

.list-cards__wrap {
    width: 100%;
}

.list-card__item {
    display: flex;
    background-color: #fff;
    max-width: 850px;
    width: 100%;
    margin-bottom: 30px;
    .mini-card__item-image {
        margin-right: 20px;
        width: 230px;
        height: 215px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-info {
        max-width: 240px;
        margin: 29px 0;
        padding-right: 28px;
        border-right: 1px solid #ececec;
    }
    .mini-card__item-title {
        font-size: 18px;
        font-weight: 500;
        color: #000;
    }
    &-text {
        margin-bottom: 20px;
        line-height: 30px;
    }
    &-rating {
        position: relative;
        max-width: 206px;
        width: 100%;
        margin: 29px 0;
        padding: 0 20px;
        border-right: 1px solid #ececec;
        .list-card__stars {
            position: absolute;
            top: 127px;
            right: 65px;
        }
    }
    .mini-card__item-author {
        padding-top: 15px;
    }
    .mini-card__item-author-name {
        font-size: 15px;
        color: #000;
    }
    .footer__left-likes {
        margin-bottom: 15px;
    }
    .news__card-comments {
        margin-bottom: 15px;
    }
    &-price {
        max-width: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__left-price {
        width: 100px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 500;
    }
    .mini-card__item-cart {
        margin-right: 5px;
    }
}

.mini-card__item-author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mini-card__item-author-image {
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}

.mimi-card__item-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    .mini-card__stars {
        left: 5px;
        right: 124px;
    }
}

.mini-card__item-cart {
    color: $blue;
    padding-left: 22px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/icons/cart-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 14px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.mini-card__item-footer {
    padding: 15px 18px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-card__item-price {
    padding: 7px 19px;
    background-color: #e6f1fd;
    border-radius: 30px;
    color: $blue;
    font-weight: 500;
}

.mini-card__item-theme {
    color: $violet;
    position: relative;
    padding-left: 20px;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/content/wp-icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.product-page__header {
    background-color: #fff;
    margin-bottom: 80px;
}

.product-page__header-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        border: none;
        outline: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
}

.product-page__header-buttons-filter {
    button {
        border: none;
        outline: none;
        background-color: transparent;
        &:hover {
            color: $blue;
        }
    }
}

.product-page_header-group {
    display: flex;
}

.product-page__header-select-filter {
    select {
        padding: 12px 40px 12px 18px;
        border: 1px solid #eceff2;
        border-radius: none;
        &+select {
            margin-left: 28px;
        }
    }
}

.product-page__header-buttons-view {
    border: 1px solid #eceff2;
    padding: 11px 19px;
    margin-left: 28px;
    button {
        &+button {
            margin-left: 15px;
        }
    }
}

.product-grid-view {
    background-image: url(../images/icons/grid-filter-icon.svg);
    width: 20px;
    height: 20px;
    &.active {
        background-color: red;
    }
}

.product-list-view {
    background-image: url(../images/icons/list-filter-icon.svg);
    width: 20px;
    height: 19px;
    &.active {
        background-color: red;
    }
}

.pagination__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 6px;
        }
        a,
        span {
            width: 50px;
            height: 38px;
            background-color: #fff;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            transition: all .3s;
            &.active {
                background-color: $blue;
                color: #fff;
            }
            &:hover {
                background-color: $violet;
                color: #fff;
            }
        }
    }
}

@import 'media';